<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
<title>诸暨市电子商务数据中心</title>

		<link rel="stylesheet" href="__PUBLIC__/css/myfirst.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/mysecond.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/mythird.css" />
		<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/echarts.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/china.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/world.js" ></script>
	
	<script type="text/javascript" src="__PUBLIC__/js/jquery.mousewheel.js" ></script>




</head>

<div class="fixed_r">
	<ul>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
	</ul>
</div>
<div class="num_box">
	<div class="num" id="num_0">
       <iframe src="__URL__/first.html" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%"></iframe>
      
   </div>
	<div class="num" id="num_1">
      <iframe src="__URL__/second.html" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%">
      
      </iframe>   
    </div>
    
	<div class="num" id="num_2">
       <iframe src="__URL__/third.html" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%"></iframe>
    </div>
</div>
<input type="hidden" value="0" class="ddw"/>
<input type="hidden" value="0" class="ddw2"/>

<script type="text/javascript" src="__PUBLIC__/js/scroll.js" ></script> 
</body>
</html>